.main {
    display: flex;
}

.speech-bubble {
    background-color: #2d2d2d;
    color: white;
    padding: 30px;
    border-radius: 20px;
    position: relative;
    margin-bottom: 20px;
    width: 50%;
}

.speech-bubble::after {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 40px;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #2d2d2d;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 60%;
    object-fit: cover;
}

.division {
    padding: 30px;
    border: 1px;
    border-radius: 20px;
    position: relative;
    border: 2px solid black;
}

.background {
    background-color: black;
    color: white;
    padding: 30px;
    border-radius: 20px;
    width: 30%;
}
.footer {
    border: 2px solid black;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    width: 60%;

}

.carousel-pic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    opacity: 0.3;
    transition: all 0.3s ease;
    filter: grayscale(50%);
}

.carousel-pic.active {
    opacity: 1;
    width: 80px;
    height: 80px;
    filter: grayscale(0%);
    border: 3px solid #ddd;
    transform: scale(1.1);
}

.carousel-name {
    text-align: center;
}
